/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   MAIN STYLES FOR ELEMENTS THAT INCLUDES ALL THE TABS LIKE THE NAVITAGION MENU<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* NAVIGATION MENU */
nav {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Crushed', cursive;
}
/* / NAVIGATION MENU */

/* NAV HEADING DIV */
.expanded > .nav_heading {
  display: none;
}

.nav_heading{
  margin-left: 2rem;
}

/* NAV HEADING */
.nav_heading h1{
  font-size: 35px;
  vertical-align: middle;
  color: #fff;
  background: goldenrod;
  padding: 0 0.5rem;
  border-radius: 2%;
}

/* NAV HEADING DIV */

/* NAVIGATION MENU WITH THE CLASS="EXPANDED" WHICH FOR PHONE VIEWS OVERLAP THE MAIN CONTENT */
nav.expanded{
  flex-direction: column;
  background-color: black;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  margin: 0;
  justify-content: space-evenly;
  z-index: 4;
  opacity: 0.9;
}
/*  / NAVIGATION .EXPANDED */

/* #NAV_LINKS DIV WHEN THE NAV HAS THE CLASS .EXPANDED */
.expanded > #nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .EXPANDED #NAV_LINKS */

/* DEFAULT #NAV_LINKS DIV*/
nav > #nav_links {
  display: none;
}
/* NAV  #NAV_LINKS */

/* NAV LINK */
nav a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: lavenderblush;
  margin-bottom: 1.8rem;
  border-radius: 3%;
  padding: .2rem .3rem;
}
/* / NAV LINK */


                                                    /* IMAGE LOGO ROTATING */

/* MAIN DIV FOR THE LOGO BUTTON LINK */
.iconblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
/* / MAIN DIV FOR THE LOGO BUTTON LINK */

/* CIRCLE DIV */
.circle {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50%;
}
/* / CIRCLE DIV */

/* CIRCLE DIV WITH THE GRADIENT CLASS */
.circle.gradient {
  width: 8vh;
  height: 8vh;
  border-style: none;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* / CIRCLE DIV WITH THE GRADIENT CLASS */

/* SQUARE CLASS */
.square {
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-style: solid;
  border-width: 1px; 
}
/*/ SQUARE CLASS */

/* DIV WITH _1 CLASS */
._1{
  border-color: #1f201f;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
/*  / DIV WITH _1 CLASS */

/* DIV WITH _2 CLASS */
._2 {
  border-color: #c429b2b6;
  background-color: rgb(250, 255, 192);
  opacity: 0.3;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}
/*  / DIV WITH _2 CLASS */

/* DIV WITH _3 CLASS */
_3 {
  border-color: #b0db14;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*  / DIV WITH _3 CLASS */

/* ANIMATION SPINLOGO FOR DIVS CIRCLE AND SQUARE */
.circle, .square  {
  animation-name: spinLogo;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* / ANIMATION SPINLOGO FOR DIVS CIRCLE AND SQUARE */

/* ANIMATION SPINLOGO FOR DIVS _2 _3 */
._2, ._3{
  animation-name: spinScaleLogo;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
/* ANIMATION SPINLOGO FOR DIVS _2 _3 */

/* DELAYS FOR DIVS 2 AND 3 */
div._2  {
  animation-delay: 0.3s;
}

div._3  {
  animation-delay: 0.6s;
}
/* DELAYS FOR DIVS 2 AND 3 */

/* KEYFRAMES ANIMATION SPINLOGO */
@keyframes spinLogo {
  to {
    transform: rotate(360deg);
  }
}
/* / KEYFRAMES ANIMATION SPINLOGO */

/* KEYFRAMES ANIMATION SPINSCALELOGO */
@keyframes spinScaleLogo {
  0%, 100% {
    transform: scale3d(1, 1, 1);
    transform: rotate(0deg);
  }
  20% {
    transform: scale3d(0.2, 0.2, 1);
   
  }
  40% {
    transform: scale3d(1, 1, 1);
    transform: rotate(180deg);
  }
  60% {
    transform: scale3d(1.2, 1.2, 1);
  }
}
/* / KEYFRAMES ANIMATION SPINSCALELOGO */


                                                                                    /* IMAGE LOGO ROTATING */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /NAV <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 375px) and (min-height: 812px) {

  /* NAVIGATION MENU */
nav {
  align-items: flex-end;
  top: 3rem;
  left: 3rem;
}
/* / NAVIGATION MENU */

/* NAV HEADING */
.nav_heading {
  margin-left: 3rem;
}
/* /NAV HEADING */

  /* MAIN DIV FOR THE LOGO BUTTON LINK */
  .iconblock{
    margin-top: 25px;
  }
  /* / MAIN DIV FOR THE LOGO BUTTON LINK */

  /* NAV LINK */
  nav a {
    font-size: 25px;
  }
  /* / NAV LINK */
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY  MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<><<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX   <<<<<<<<<<<<<<<<<<<><<<<<<<<( IPAD )<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 768px){

  /* NAVIGATION MENU */
  nav {
    top: 3rem;
    left: 4rem;
    flex-direction: row;
  }
/* / NAVIGATION MENU */

  /* NAVIGATION MENU WITH THE CLASS="EXPANDED" WHICH FOR PHONE VIEWS OVERLAP THE MAIN CONTENT */
nav.expanded{
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  bottom: auto;
  right: auto;
  margin: 0;
  justify-content: space-evenly;
  z-index: 4;
  background-color: transparent;
  opacity: 0.9;
}
/*  / NAVIGATION .EXPANDED */

  /* CIRCLE DIV WITH THE GRADIENT CLASS */
  .circle.gradient {
    width: 9vh;
    height: 9vh;
  }
  /* / CIRCLE DIV WITH THE GRADIENT CLASS */
  
  /* SQUARE CLASS */
  .square {
    width: 9vh;
    height: 9vh;
  }
  /*/ SQUARE CLASS */

  .nav_heading{
    margin-left: 6rem;
  }
  .nav_heading h1 {
    font-size: 55px;
  }
/* #NAV_LINKS DIV WHEN THE NAV HAS THE CLASS .EXPANDED */
.expanded > #nav_links{
  flex-direction: row;
}
/* .EXPANDED #NAV_LINKS */

/* NAV LINK */
  nav a {
    font-size: 30px;
    margin-left: 2rem;
    opacity: 0.9;
    border-radius: 3px;
    border-color: rgb(250, 255, 192);
  }
/* NAV LINK */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /  MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<( IPAD )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1280px){
 
  
        /* NAVIGATION MENU */
    nav {
      top: 3rem;
      left: 4rem;
      flex-direction: row;
    }
/* / NAVIGATION MENU */

  /* NAVIGATION MENU WITH THE CLASS="EXPANDED" WHICH FOR PHONE VIEWS OVERLAP THE MAIN CONTENT */
  nav.expanded{
    align-items: center;
  }
  /*  / NAVIGATION .EXPANDED */

  .iconblock {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  /* CIRCLE DIV WITH THE GRADIENT CLASS */
.circle.gradient {
  width: 10vh;
  height: 10vh;
}
/* / CIRCLE DIV WITH THE GRADIENT CLASS */

/* SQUARE CLASS */
.square {
  width: 10vh;
  height: 10vh;
}
/*/ SQUARE CLASS */


  .links_nav {
    flex-direction: row;
    margin-left: 4rem;
  }

  /* NAV */
  nav a {
    font-size: 40px;
    margin-left: 6rem;
  }
  /* NAV */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<><<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 1440px) {

nav{
  align-items: center;
}

.nav_heading {
  margin-left: 6rem;
}

.nav_heading h1{
  font-size: 60px;
}

/* NAV */

nav a {
  font-size: 50px;
}

/* NAV */


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTACT_ME.HTML <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


#contact-me {
  background-image: url('../img/contact_me/typewriter2.jpg');
  background-size: cover;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}


#contact-links {
  position: absolute;
  padding: 2rem 0rem;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 2%;
  color: #FFFFFF;
  font-size: 8px;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;

}


#contact-me h1{
  font-family: 'Lobster', cursive;
  font-size: 32px;
}

#contact-links{
  justify-content: space-evenly;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;

}

#contact-links a {
  color: #FFFFFF;
  line-height: 32px;
  margin: 0 0 10px 18px;
}

#contact-links a:hover {
  color: #ffcc00;
  line-height: 32px;
  margin: 0 0 10px 18px;
}

#contact-links i {
  font-size: 40px;
}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / CONTACT_ME.HTML <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-HEIGHT: 768PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



@media (min-height: 768px){


  #contact-me-box {
      height: 35rem;
    }

  #contact-me h1 {
      font-size: 37px;

  }

  #contact-links a {
    margin-bottom: 35px;
  }


}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 576PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 576px) {

.intro{
padding: 5rem 0;
}


main .container {
width: 35%;
padding: 3px;
}


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 768PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 768px) {


  #contact-links {
    margin-top: 4rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  #contact-me-box {
    height: 18rem;
    width: 38rem;
  }

  #contact-me h1 {
    margin-top: 1.5rem;
    font-size: 55px;
  }




}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1024PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 1024px) {

    #contact-me-box {
        height: 25rem;
        width: 70rem;
    }

    #contact-me h1 {
    font-size: 70px;
    }

    #contact-links i {
    font-size: 70px;
    }

}
