/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTACT_ME.HTML <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* MAIN */
main {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background-image: url('../img/contact_me/typewriter2.jpg');
  background-size: cover;
  display: flex;                    /*  HORIZONTALY CENTER THE #CONTACT_LINKS DIV */
  justify-content: center;
}
/* / MAIN */

/* #CONTACT_LINKS DIV */
#contact_links {
  margin-top: 10rem;
  border-radius: 2%;
  color: #FFFFFF;
  font-size: 8px;
  font-family: 'Space Mono', monospace;
  display: grid;
  grid-template-rows: repeat(4, 5rem);
  row-gap: 1rem;
  justify-items: center;
}
/* / #CONTACT_LINKS DIV */

/* .DIV_LINK DIV  */
.div_link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.3rem;
  border-top-left-radius: 5%;
  background-color: transparent;    /* FALLBACK */
}

#email_div {
  background: linear-gradient(to top, rgb(157, 11, 91) 0 60%, transparent );
}

#github_div {
  background: linear-gradient(to top, #711080 0 60%, transparent );
}

#linkedin_div {
  background: linear-gradient(to top, #064c72 0 60%, transparent );
}

#twitter_div {
  background: linear-gradient(to top, #15709b 0 60%, transparent );
}
/* / .DIV_LINK DIV  */

/* .LINK_IMAGE DIV */
.link_image{
  width: 8vh;
  height: 8vh;
  border-style: none;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* #EMAIL_ICON BACKGROUND IMAGE */
#email_icon {
  background-image: url('../img/contact_me/social_networks_icons/email_icon.png');
}
/* #GITHUB_ICON BACKGROUND IMAGE */
#github_icon {
  background-image: url('../img/contact_me/social_networks_icons/github_icon.png');
}
/* #LINKEDIN_ICON BACKGROUND IMAGE */
#linkedin_icon {
  background-image: url('../img/contact_me/social_networks_icons/linkedin_icon.png');
}
/* #TWITTER_ICON BACKGROUND IMAGE */
#twitter_icon {
  background-image: url('../img/contact_me/social_networks_icons/twitter_icon.png');
}
/* / .LINK_IMAGE DIV */

/* .LINK_TEXT DIV */
.link_text {
  margin-left: 1.5rem;
  background-color:white;
  padding: 0.3rem 0.5rem 0;
  border-radius: 3%;
  height: fit-content;
}
/* #EMAIL_TEXT COLOR */
#email_text {
  color: #e0218a;
}
/* #GITHUB_TEXT COLOR */
#github_text {
  color: #953fa2;
}
/* #LINKEDIN_TEXT COLOR */
#linkedin_text {
  color: #0273af;
}
/* #TWITTER_TEXT COLOR */
#twitter_text {
  color: #256988;
}
/* / .LINK_TEXT DIV */

/* HEADING 2 */
 h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}
/*/  HEADING 2 */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 375px) and (min-height: 812px) {

  /* #CONTACT_LINKS DIV */
  #contact_links {
    margin-top: 15rem;
    row-gap: 3rem;
  }
  /* / #CONTACT_LINKS DIV */

  /* HEADING 2 */
  h2 {
    font-size: 34px;
  }
  /* HEADING 2 */


}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY  MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<><<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX   <<<<<<<<<<<<<<<<<<<><<<<<<<<( IPAD )<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 768px){
  /* #CONTACT_LINKS DIV */
  #contact_links {
    margin-top: 20rem;
    row-gap: 5rem;
  }
  /* / #CONTACT_LINKS DIV */

  /* .DIV_LINK DIV  */
.div_link{
  justify-content: start;
}
/* / .DIV_LINK DIV  */

  /* .LINK_IMAGE DIV */
  .link_image{
   margin-left: 1.3rem;
  }
  /* / .LINK_IMAGE DIV */

  /* <A> */
  a {
    width: 20rem;
  }
  /* <A> */

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /  MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<( IPAD )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1280px) and (min-height: 800px){
  /* #CONTACT_LINKS DIV */
  #contact_links {
    display: grid;
    grid-template-rows: 8rem 8rem;
    grid-template-columns: 22rem 22rem;
    row-gap: 2rem;
    column-gap: 3rem;
    justify-items: center;
  }
  /* / #CONTACT_LINKS DIV */

  /* #EMAIL_LINK LINK */
  #email_link {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  /* / #EMAIL_LINK LINK  */

  /* #GITHUB_LINK LINK  */
  #github_link {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  /* / #GITHUB_LINK LINK  */

  /* #LINKEDIN_LINK LINK  */
  #linkedin_link {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  /* / #LINKEDIN_LINK LINK  */

  /* #TWITTER_LINK LINK  */
  #twitter_link {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  /* / #TWITTER_LINK LINK  */

  /* <A> */
  a {
    width: 18rem;
    justify-self: center;
    align-self: center;
  }
  /* <A> */

  /* .DIV_LINK DIV  */
  .div_link{
    width: auto;
  }
  /* / .DIV_LINK DIV  */


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<><<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/