



.intro {
  padding: 25rem 2rem;
  background-image: url('../img/fontanacut.png');
  background-size: cover;

}

.intro h1 span{
    color: white;
    background-color: #007bff;
    position: absolute;
    top: 380px;
    border-radius: 30px 500px 150px 30px;
}

.intro a{
    position: absolute;
    top: 480px;
    right:100;

}


.aboutMe h1 {


  font-family: serif;
  font-size: 55px;
  font-weight: 700;



}
.aboutMe p {
  font-family: serif;
  font-size: 25px;
  font-weight: 700;
}


.aboutMe {
  background-image: url('../img/amarillo.jpg');
  background-size: cover;
  padding: 9rem 2rem;
  font-family: "Lucida Console";
}



.aboutMe .description {
  text-align: left;
}









.projects {
  padding: 10rem 2rem;
  background-image: url('../img/key.jpg');
  background-size: contain;
}


.projects h1 {

  color: #ffff00;
  font-size: 85px;
  font-weight: 600;
  border-style:  outset;
  background-color: #ff944d;
}

.contact {
  /*  Sections-Contact*/
  background: #434242;
  padding-top: 20px;
  padding-bottom: 70px;
}

.contact .center-line {
  float: left;
}

.contact h2 {
  color: #FFFFFF;
}

.contact .no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.contact .no-bullets a {
  color: #FFFFFF;
  display: inline-block;
  line-height: 32px;
  margin: 0 0 10px 18px;
  opacity: 0.6;
}
