/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   MAIN STYLES FOR ELEMENTS THAT INCLUDES ALL THE TABS LIKE THE NAVITAGION MENU<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* NAVIGATION MENU */
nav {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Crushed', cursive;
}
/* / NAVIGATION MENU */

/* NAV HEADING DIV */
.expanded > .nav_heading {
  display: none;
}

.nav_heading{
  margin-left: 2rem;
}

/* NAV HEADING */
.nav_heading h1{
  font-size: 35px;
  vertical-align: middle;
  color: #fff;
  background: goldenrod;
  padding: 0 0.5rem;
  border-radius: 2%;
}

/* NAV HEADING DIV */

/* NAVIGATION MENU WITH THE CLASS="EXPANDED" WHICH FOR PHONE VIEWS OVERLAP THE MAIN CONTENT */
nav.expanded{
  flex-direction: column;
  background-color: black;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  margin: 0;
  justify-content: space-evenly;
  z-index: 4;
  opacity: 0.9;
}
/*  / NAVIGATION .EXPANDED */

/* #NAV_LINKS DIV WHEN THE NAV HAS THE CLASS .EXPANDED */
.expanded > #nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .EXPANDED #NAV_LINKS */

/* DEFAULT #NAV_LINKS DIV*/
nav > #nav_links {
  display: none;
}
/* NAV  #NAV_LINKS */

/* NAV LINK */
nav a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: lavenderblush;
  margin-bottom: 1.8rem;
  border-radius: 3%;
  padding: .2rem .3rem;
}
/* / NAV LINK */


                                                    /* IMAGE LOGO ROTATING */

/* MAIN DIV FOR THE LOGO BUTTON LINK */
.iconblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
/* / MAIN DIV FOR THE LOGO BUTTON LINK */

/* CIRCLE DIV */
.circle {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50%;
}
/* / CIRCLE DIV */

/* CIRCLE DIV WITH THE GRADIENT CLASS */
.circle.gradient {
  width: 8vh;
  height: 8vh;
  border-style: none;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* / CIRCLE DIV WITH THE GRADIENT CLASS */

/* SQUARE CLASS */
.square {
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-style: solid;
  border-width: 1px; 
}
/*/ SQUARE CLASS */

/* DIV WITH _1 CLASS */
._1{
  border-color: #1f201f;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
/*  / DIV WITH _1 CLASS */

/* DIV WITH _2 CLASS */
._2 {
  border-color: #c429b2b6;
  background-color: rgb(250, 255, 192);
  opacity: 0.3;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}
/*  / DIV WITH _2 CLASS */

/* DIV WITH _3 CLASS */
_3 {
  border-color: #b0db14;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*  / DIV WITH _3 CLASS */

/* ANIMATION SPINLOGO FOR DIVS CIRCLE AND SQUARE */
.circle, .square  {
  animation-name: spinLogo;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* / ANIMATION SPINLOGO FOR DIVS CIRCLE AND SQUARE */

/* ANIMATION SPINLOGO FOR DIVS _2 _3 */
._2, ._3{
  animation-name: spinScaleLogo;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
/* ANIMATION SPINLOGO FOR DIVS _2 _3 */

/* DELAYS FOR DIVS 2 AND 3 */
div._2  {
  animation-delay: 0.3s;
}

div._3  {
  animation-delay: 0.6s;
}
/* DELAYS FOR DIVS 2 AND 3 */

/* KEYFRAMES ANIMATION SPINLOGO */
@keyframes spinLogo {
  to {
    transform: rotate(360deg);
  }
}
/* / KEYFRAMES ANIMATION SPINLOGO */

/* KEYFRAMES ANIMATION SPINSCALELOGO */
@keyframes spinScaleLogo {
  0%, 100% {
    transform: scale3d(1, 1, 1);
    transform: rotate(0deg);
  }
  20% {
    transform: scale3d(0.2, 0.2, 1);
   
  }
  40% {
    transform: scale3d(1, 1, 1);
    transform: rotate(180deg);
  }
  60% {
    transform: scale3d(1.2, 1.2, 1);
  }
}
/* / KEYFRAMES ANIMATION SPINSCALELOGO */


                                                                                    /* IMAGE LOGO ROTATING */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /NAV <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 375px) and (min-height: 812px) {

  /* NAVIGATION MENU */
nav {
  align-items: flex-end;
  top: 3rem;
  left: 3rem;
}
/* / NAVIGATION MENU */

/* NAV HEADING */
.nav_heading {
  margin-left: 3rem;
}
/* /NAV HEADING */

  /* MAIN DIV FOR THE LOGO BUTTON LINK */
  .iconblock{
    margin-top: 25px;
  }
  /* / MAIN DIV FOR THE LOGO BUTTON LINK */

  /* NAV LINK */
  nav a {
    font-size: 25px;
  }
  /* / NAV LINK */
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY  MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<><<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX   <<<<<<<<<<<<<<<<<<<><<<<<<<<( IPAD )<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 768px){

  /* NAVIGATION MENU */
  nav {
    top: 3rem;
    left: 4rem;
    flex-direction: row;
  }
/* / NAVIGATION MENU */

  /* NAVIGATION MENU WITH THE CLASS="EXPANDED" WHICH FOR PHONE VIEWS OVERLAP THE MAIN CONTENT */
nav.expanded{
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  bottom: auto;
  right: auto;
  margin: 0;
  justify-content: space-evenly;
  z-index: 4;
  background-color: transparent;
  opacity: 0.9;
}
/*  / NAVIGATION .EXPANDED */

  /* CIRCLE DIV WITH THE GRADIENT CLASS */
  .circle.gradient {
    width: 9vh;
    height: 9vh;
  }
  /* / CIRCLE DIV WITH THE GRADIENT CLASS */
  
  /* SQUARE CLASS */
  .square {
    width: 9vh;
    height: 9vh;
  }
  /*/ SQUARE CLASS */

  .nav_heading{
    margin-left: 6rem;
  }
  .nav_heading h1 {
    font-size: 55px;
  }
/* #NAV_LINKS DIV WHEN THE NAV HAS THE CLASS .EXPANDED */
.expanded > #nav_links{
  flex-direction: row;
}
/* .EXPANDED #NAV_LINKS */

/* NAV LINK */
  nav a {
    font-size: 30px;
    margin-left: 2rem;
    opacity: 0.9;
    border-radius: 3px;
    border-color: rgb(250, 255, 192);
  }
/* NAV LINK */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /  MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<( IPAD )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1280px){
 
  
        /* NAVIGATION MENU */
    nav {
      top: 3rem;
      left: 4rem;
      flex-direction: row;
    }
/* / NAVIGATION MENU */

  /* NAVIGATION MENU WITH THE CLASS="EXPANDED" WHICH FOR PHONE VIEWS OVERLAP THE MAIN CONTENT */
  nav.expanded{
    align-items: center;
  }
  /*  / NAVIGATION .EXPANDED */

  .iconblock {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  /* CIRCLE DIV WITH THE GRADIENT CLASS */
.circle.gradient {
  width: 10vh;
  height: 10vh;
}
/* / CIRCLE DIV WITH THE GRADIENT CLASS */

/* SQUARE CLASS */
.square {
  width: 10vh;
  height: 10vh;
}
/*/ SQUARE CLASS */


  .links_nav {
    flex-direction: row;
    margin-left: 4rem;
  }

  /* NAV */
  nav a {
    font-size: 40px;
    margin-left: 6rem;
  }
  /* NAV */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<><<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 1440px) {

nav{
  align-items: center;
}

.nav_heading {
  margin-left: 6rem;
}

.nav_heading h1{
  font-size: 60px;
}

/* NAV */

nav a {
  font-size: 50px;
}

/* NAV */


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



 /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PROJECTS  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* MAIN CONTAINER */
.container-projects {
  background-color: #475CD1;
  padding: 12rem 1rem 1rem;
  max-width: 2560px
}
/* / MAIN CONTAINER */

/* MAIN HEADER */
#projects-main-header {
  font-family: 'Bungee Shade', cursive;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 4rem;
  margin-top: 0;
  color: black;
}
/* / MAIN HEADER */


/* UNORDERED LIST */
ul.projects-entries {
  list-style-type: none; /* Remove bullet point style */
  margin-top: 30px;
  padding-left: 0;   /*CORRECTING padding-left: 40px causes by the heading and the wrapper container  */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* / UNORDERED LIST */

/* LIST ELEMENT PROJECT */
ul.projects-entries li {
  margin-bottom: 150px;
}
  /* / LIST ELEMENT PROJECT */

/* PROJECT HEADER H2 */
.entry_header h2  {
     font-size: 35px;
     margin-bottom: 30px;
     color: white;
     text-align: center;
 }
 /* PROJECT HEADER H2 */

 /* USED TECHNOLOGY LIST */
.technology {
  margin-left: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
 /* / USED TECHNOLOGY LIST */

 /* PROJECT IMAGE*/

 .entry_link:hover {
  filter: invert(80%)
 }
.projects-list-item-image{
  margin-top: 35px;
  flex-basis: 100%;
  margin-bottom: 30px;
  position: relative;
}

.media-wrapper {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  border: outset 3px whitesmoke;
  padding-bottom: 54%;
}

.media-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project-list-item-thumb img {
  display: block;
  width: 100%;
  height: auto;
}
/*  / PROJECT IMAGE  */

 /* DESCRIPTION PARAGRAPH */
.description p {
  color: white;
   font-size: 19px;
   padding: 8px;
   margin-top: 25px;
 }
/* / DESCRIPTION PARAGRAPH */

/* LINK BUTTONS */
.link_buttons {
  max-width: 210px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 1rem auto;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

a{
  text-decoration: none;  /* REMOVE TEXT DECORATION LINKS */
}

.link_buttons a{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 3%;
}

.link_buttons a:hover {
  text-decoration: none;
  filter: hue-rotate(90deg);
  background-color: goldenrod;
}

.link_buttons p {
  font-size: 16px;
  margin: 0;
  display: inline;
  color: white;
}


.link_buttons img {
  border-radius: 3%;
  width: 80px;
  height: 60px;
}
/* / LINK BUTTONS */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 375px) and (min-height: 812px) {
  /* MAIN HEADER */
  #projects-main-header{
    font-size: 45px;
  }
  /* / MAIN HEADER */

  /* LIST ELEMENT PROJECT */
  ul.projects-entries > li {
    margin-bottom: 120px;
  }
  /* /LIST ELEMENT PROJECT */


}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY  MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<><<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX   <<<<<<<<<<<<<<<<<<<><<<<<<<<( IPAD )<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 768px) and (min-height: 1024px){
  /* MAIN HEADER */
  #projects-main-header {
    font-size: 75px;
  }
  /* MAIN HEADER */

  /* UNORDERED LIST */
  ul.projects-entries > li {
    margin-bottom: 170px;
  }
  /* / UNORDERED LIST */

  /* PROJECT HEADER H2 */
  .entry_header h2 {
    padding: 15px;
    font-size: 55px;
  }
  /* PROJECT HEADER H2 */

  /* TECNOLOGY LIST */
  .technology {
    margin-top: 50px;
  }
  /* TECNOLOGY LIST */

  /* SVG TECNOLOGY */
  svg{
    width: 50px;
    height: 50px;
  }
  /* / SVG TECNOLOGY */

   /* PROJECT IMAGE STYLES */
  .projects-list-item-image {
    margin: 35px 15px;
  }
   /* / PROJECT IMAGE STYLES */
  
  /* DESCRIPTION PARAGRAPH */
  .description p {
    font-size: 30px;
    padding: 25px;
    margin-top: 50px;
  }
  /* / DESCRIPTION PARAGRAPH */

/* LINK BUTTONS */
  .link_buttons {
    max-width: 335px;
  }

  .link_buttons p {
    font-size: 25px;
  }

  .link_buttons img {
      width: 120px;
      height: 80px;
    }
  /* / LINK BUTTONS */

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /  MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<( IPAD )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1280px) and (min-height: 800px){

    /* MAIN HEADER */
      #projects-main-header {

        font-size: 77px;

      }
    /* / MAIN HEADER */

    /* UNORDERED LIST PROJECTS */
    ul.projects-entries {
      margin-top: 100px;
    }
    /* / UNORDERED LIST PROJECTS */

    /* LIST ELEMENT PROJECT */
    ul.projects-entries > li {
      display: grid;          
      grid-template-rows: repeat(13, 40px);          /* set up the link display to grid 2 rows 7 columns */
      grid-template-columns: 400px 600px;
      column-gap: 80px;
      align-items: center;
      margin-bottom: 120px;
      max-width: 1400px;  
    }
    /* LIST ELEMENT PROJECT */

     /* PROJECT IMAGE*/
    a.entry_link{
      grid-column: 2 / 3;
      grid-row: 5 / 13;
      margin-top: 0;
      margin-bottom: 0;
    }
     /* / PROJECT IMAGE*/

    /* / PROJECT HEADER H2 */
    .entry_header {
      line-height: inherit;
      align-self: stretch;
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }

    .entry_header h2 {
      line-height: inherit;
    }

    .entry_header h2 {
      font-size: 60px;
    }
    /* / PROJECT HEADER H2 */

     /* USED TECHNOLOGY LIST */
    .technology {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }

    svg{
      width: 50px;
      height: 50px;
    }
     /* USED TECHNOLOGY LIST */

    /* PARAGRAPH DESCRIPTION */
    .description {
      grid-column: 1 / 2;
      grid-row: 5 / 8;
    }
    .description p {
       font-size: 30px;
     }
    /* / PARAGRAPH DESCRIPTION */

  /* LINK BUTTONS */
  .link_buttons {
    width: 300px;
    grid-column: 1 / 2;
    grid-row: 10/ 12;
  }
  /* / LINK BUTTONS */


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 800PX <<<<<<<<<<><<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1440PX AND MIN-HEIGHT: 900PX<<<<<<<<<<<( LAPTOP HiDPI SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/
@media (min-width: 1440px) and (min-height: 900px){

  /* UNORDERED LIST */
  ul.projects-entries {

    max-width: 1400px;
    grid-column-gap: 175px;

  }
  /* UNORDERED LIST */

      /* LIST ELEMENT PROJECT */
      ul.projects-entries > li {
        column-gap: 120px;
      }
      /* LIST ELEMENT PROJECT */


}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 1440PX AND MIN-HEIGHT: 900PX<<<<<<<<<<<( LAPTOP HiDPI SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1920PX AND MIN-HEIGHT: 1080PX<<<<<<<<<<<( IMAC 21' SCREEN SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/
@media (min-width: 1920px) and (min-height: 1080px){

  /* UNORDERED LIST */
  ul.projects-entries {

    max-width: 2200px;

  }
  /* UNORDERED LIST */

  /* LIST ELEMENT PROJECT */
  ul.projects-entries > li {
    column-gap: 100px;
  }
  /* LIST ELEMENT PROJECT */


}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 1920PX AND MIN-HEIGHT: 1080PX<<<<<<<<<<<( IMAC SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/

