 /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PROJECTS  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* MAIN CONTAINER */
.container-projects {
  background-color: #475CD1;
  padding-bottom: 1rem;
  max-width: 2560px
}
/* / MAIN CONTAINER */

/* HEADER */
#projects-main-header {
  font-family: 'Bungee Shade', cursive;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 4rem;
  margin-top: 0;
  color: black;
}
/* /  HEADER */


/* UNORDERED LIST */
ul.projects-entries {
  list-style-type: none; /* Remove bullet point style */
  margin-top: 30px;
  padding-left: 0;   /*CORRECTING padding-left: 40px causes by the heading and the wrapper container  */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* / UNORDERED LIST */


ul.projects-entries > li {
  margin-bottom: 150px;
}

.entry_header h2  {
     font-size: 35px;
     margin-bottom: 30px;
     color: white;
     text-align: center;
 }

.description p {
  color: white;
   font-size: 19px;
   padding: 8px;
   margin-top: 25px;
 }

/* PROJECT IMAGE STYLES */

.projects-list-item-image{
  margin-top: 35px;
  flex-basis: 100%;
  margin-bottom: 30px;
  position: relative;
}

.media-wrapper {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  border: outset 3px whitesmoke;
  padding-bottom: 54%;
}

.media-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project-list-item-thumb>img {
  display: block;
  width: 100%;
  height: auto;
}

/*  / PROJECT IMAGE STYLES */



/* USED TECHNOLOGY LIST */

.technology {
  margin-left: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.github_button {
  position: relative;
  display: block;
  max-width: 250px;
  overflow: hidden;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
}


/* / USED TECHNOLOGY LIST */





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / PROJECTS  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 370PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 370px) and (min-height: 800px) {
  /* HEADER */
  #projects-main-header{
    font-size: 45px;
  }

  ul.projects-entries > li {
    margin-bottom: 120px;
  }


}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY  MIN-WIDTH: 370PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 760PX AND MIN-HEIGHT: 1024PX   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 760px) and (min-height: 1020px){

  #projects-main-header {
    font-size: 75px;
  }



.projects-entries{
    margin-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 120px;
  }

  ul.projects-entries > li {
    margin-bottom: 170px;
  }

  .entry_header h2 {
    padding: 15px;
    font-size: 55px;

  }

  svg{
    width: 50px;
    height: 50px;
  }

  .description p {
    font-size: 30px;
    padding: 25px;
    margin-top: 50px;
  }

  .technology {
    margin-top: 50px;
  }


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /  MEDIA QUERY MIN-WIDTH: 760PX AND MIN-HEIGHT: 1024PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1200PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1200px) and (min-height: 800px){

    /* MAIN HEADER */
      #projects-main-header {

        font-size: 77px;

      }
    /* / MAIN HEADER */

    ul.projects-entries > li {
      display: grid;          
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;          /* set up the link display to grid 2 rows 7 columns */
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
      align-items: center;
      margin-bottom: 120px;
      max-width: 1000px;  
    }



    /* IMAGE */
    .projects-list-item-image{
      grid-column: 1 / 2;
      grid-row: 1 / 8;
      margin-top: 0;
      margin-bottom: 0;
    }
    /* / IMAGE */

    /* ENTRY HEADER */
    .entry_header h2 {
      line-height: inherit;
      align-self: stretch;
      font-size: 55px;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    /* / ENTRY HEADER */

    /* DIV TECHNOLOGY */
    .technology {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }

    svg{
      width: 50px;
      height: 50px;
    }
    /* / DIV TECHNOLOGY */

    /* PARAGRAPH DESCRIPTION */
    .description p {
      font-size: 25px;
      grid-column: 2 / 3;
      grid-row: 5 / 8;
    }
    /* / PARAGRAPH DESCRIPTION */


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1200PX AND MIN-HEIGHT: 800PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 1440px) {


  .projects-entries {

    max-width: 1350px;
    grid-column-gap: 175px;

  }


}
