// **************
// ! FONTS ///
// **************

@font-face {
  font-family: "Crushed";
  src: url("../fonts/Crushed/Crushed-Regular.eot");
  src: url("../fonts/Crushed/Crushed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Crushed/Crushed-Regular.ttf") format("truetype"),
    url("../fonts/Crushed/Crushed-Regular.woff") format("woff"),
    url("../fonts/Crushed/Crushed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monoton";
  src: url("../fonts/Monoton/Monoton-Regular.eot");
  src: url("../fonts/Monoton/Monoton-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Monoton/Monoton-Regular.ttf") format("truetype"),
    url("../fonts/Monoton/Monoton-Regular.woff") format("woff"),
    url("../fonts/Monoton/Monoton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/UbuntuCondensed-Regular.eot");
  src: url("../fonts/Ubuntu/UbuntuCondensed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuCondensed-Regular.ttf") format("truetype"),
    url("../fonts/Ubuntu/UbuntuCondensed-Regular.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuCondensed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
