/* * _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-MAIN TAB-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

#projects {
  background-color: #475cd1;
  flex-direction: column;
}

/* * _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-HEADER-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

#projects header {
  background: rgb(50, 148, 149);
  background: linear-gradient(
    to right,
    rgba(50, 148, 149, 1) 56%,
    rgba(238, 178, 47, 1) 100%
  );
}

/* * _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-CARD-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

#projects .card {
  width: 18rem;
  padding: 0.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 1%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

#portfolio {
  background-color: rgb(13, 152, 48);
}

#london-quiz {
  background-color: rgb(21, 91, 240);
}

#currency-app {
  background-color: rgba(235, 9, 144, 1);
}

#miricyl {
  background-color: rgb(242, 115, 18);
}

/* * _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-CARD IMAGE/ LINK-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

.project-link {
  /* * ENTRY IMAGE */
  display: inline-block;
  width: 90%;
  height: 12rem;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 3px 2px 2px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */ /* *BOX SHADOW 3D EFFECT */
  -moz-box-shadow: 3px 3px 3px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px 4px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  animation: box-shawow-increasing 10s infinite;
}

#portfolio .project-link {
  background-image: url("../img/projects/projects_snapshots/portfolio_snapshot.jpeg");
}

#london-quiz .project-link {
  background-image: url("../img/projects/projects_snapshots/londonquiz_snapshot.png");
}

#currency-app .project-link {
  background-image: url("../img/projects/projects_snapshots/currency_app_snapshot.png");
}

#miricyl .project-link {
  background-image: url("../img/projects/projects_snapshots/miricyl_snapshot.png");
  background-size: 40% 90%;
  background-position: center;
  background-color: #7dd832;
}

.fingerTouch {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 12vh;
  height: 12vh;
  animation: handTransform 8s infinite;
}

@keyframes box-shawow-increasing {
  50% {
    -webkit-box-shadow: 4px 4px 4px 5px rgb(213, 231, 15); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */ /* *BOX SHADOW 3D EFFECT */
    -moz-box-shadow: 4px 4px 4px 5px rgb(213, 231, 15); /* Firefox 3.5 - 3.6 */
    box-shadow: 4px 4px 6px 5px rgb(213, 231, 15); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
}

@keyframes handTransform {
  45% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(0.9);
  }
}

.project-link:hover {
  filter: invert(75%);
}

.project-link:active {
  filter: hue-rotate(270deg);
}

/* * _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-CARD BODY(TITLE AND DESCRIPTION)-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
#projects h2 {
  /* * ENTRY HEADER */
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin: 0;
  padding: 1.4rem 0;
  letter-spacing: 0.1rem;
}

#projects p {
  font-size: 1rem;
  padding: 0.5rem;
  line-height: 1.75rem;
}

/* * _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_TECHNOLOGY USED  -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

h3.card-title {
  font-size: 1.3rem;
  text-align: center;
  margin: 2.5rem 0;
  letter-spacing: 2px;
}

// *DIVIDER/SEPARATOR

h3.card-title {
  color: #fff;
  overflow: hidden;
  text-align: center;
  font-size: 1.3rem;
  margin: 2.5rem 0;
  letter-spacing: 2px;
  > span {
    border: 2px solid #fff;
    display: inline-block;
    padding: 0.25em 0.5em;
    position: relative;
  }
  > span:before,
  > span:after {
    border-bottom: 2px solid #fff;
    content: "";
    margin: 0 3px;
    position: absolute;
    top: 50%;
    width: 100%; // Line-length. 100% width is equal to width of boxed-area.
  }
  > span:before {
    right: 100%;
  }
  > span:after {
    left: 100%;
  }
}

.technology-list {
  @include flex();
  list-style: none;
  padding: 0;
}

.tech-logo {
  @include flex(column);
  width: 5rem;
}

.tech-logo img {
  width: 7vh;
  height: 7vh;
  border: 1px solid white;
  border-radius: 3%;
}

.tech-logo h4 {
  font-family: "Roboto", serif;
  font-size: 0.75rem;
  font-weight: lighter;
  margin-top: 0.5rem;
  letter-spacing: 0.1em;
  color: white;
}

/* * _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_GITHUB REPO LINK BUTTON -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

.github-repo {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.github-repo:hover {
  background-color: #f7feaa;
}

.github-repo:active {
  background-color: #265301;
}

.github-repo {
  margin: 3rem 0 1rem;
  padding: 0.5rem;
  background-color: rgba(143, 5, 150, 0.858);
  border: 1px solid white;
  color: white;
  font-size: 1rem;
}

.github-image {
  width: 3rem;
  margin-left: 1.5rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>  SMARTPHONE   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION PORTRAIT AND MIN-WIDTH: 24em   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (orientation: portrait) and (min-width: 24em) {
  .project-link {
    height: 35vh;
  }

  .project_entry h2 {
    font-size: 2.7rem;
  }

  #currency-app h2 {
    font-size: 2.4rem;
  }

  .github_repo {
    margin: 1.8rem 0;
    width: 15vh;
    height: 10vh;
  }

  .github_repo h3 {
    letter-spacing: 0.08rem;
  }
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>  SMARTPHONE   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 24em   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 48em) {
  #projects .card {
    width: 42rem;
  }

  // *DIVIDER/SEPARATOR
  h3.card-title {
    > span:before,
    span:after {
      width: 50%; // Line-length. 50% width to decrease the line from the edges.
    }
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>   TABLET  >>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION PORTRAIT AND MIN-WIDTH: 48em      <<<<<<<<<<<<<<<<<<<><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (orientation: portrait) and (min-width: 48em) {
  .project_entry:first-of-type {
    margin: 20vh 0;
  }

  .project_entry {
    display: grid;
    width: 70%;
    height: 40vh;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }

  .project_entry h2,
  #currency-app h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: normal;
  }

  .project-link {
    width: 80%;
    height: 14vh;
    margin: 0;
  }

  .fingerTouch {
    width: 6vh;
    height: 6vh;
  }

  .technology_title {
    font-size: 1rem;
    margin-top: 5rem;
  }

  .tech-logos {
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .tech-logo img {
    width: 4.5vh;
    height: 4.5vh;
  }
  .tech-logo h4 {
    font-size: 0.55rem;
    font-weight: lighter;
  }

  .description {
    margin: auto;
  }

  .description p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0 1rem;
  }

  .github_repo {
    width: 12vh;
    height: 8vh;
    justify-self: center;
    margin-top: 4rem;
    background-position: 50% 76%;
    background-size: 50% 60%;
  }

  .github_repo h3 {
    font-size: 0.75rem;
    padding: 0.15rem;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>   TABLET  >>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION PORTRAIT AND MIN-WIDTH: 48em      <<<<<<<<<<<<<<<<<<<><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION LANDSCAPE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (orientation: landscape) {
  .project_entry:first-of-type {
    margin: 20vh 0;
  }

  .project_entry {
    display: grid;
    width: 80%;
    height: 75vh;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }

  .project_entry h2 {
    font-size: 1.75rem;
    letter-spacing: normal;
  }

  .project_entry.expand_extra_info h2 {
    padding: 0.7rem 0;
  }

  .project-link {
    width: 80%;
    height: 35vh;
    margin: 0.2rem 0 0 0;
  }

  .technology_title {
    font-size: 0.85rem;
    margin-top: 3rem;
  }

  .tech-logos {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .tech-logo img {
    width: 10vh;
    height: 10vh;
  }
  .tech-logo h4 {
    font-size: 0.55rem;
    font-weight: lighter;
  }

  .moreInfo {
    justify-self: center;
    width: 4rem;
    height: 2rem;
    font-size: 14px;
    margin: 1.75rem 0 0 0;
  }

  .lessInfo {
    margin-top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    align-self: flex-end;
  }

  .description {
    margin: auto;
  }

  .description p {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 0 1rem;
  }

  .github_repo {
    width: 24vh;
    height: 18vh;
    justify-self: center;
  }

  .github_repo h3 {
    font-size: 0.5rem;
    padding: 0.15rem;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY ORIENTATION LANDSCAPE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 50em  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (orientation: landscape) and (min-width: 50em) {
  #projects header {
    font-size: 5rem;
  }

  .project_entry h2 {
    font-size: 2.5rem;
    align-self: center;
    margin: 0;
  }

  .technology_title {
    margin-top: 4rem;
  }

  .lessInfo {
    margin: 1rem 3rem 0 0;
  }

  .description p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0 2rem;
  }

  .github_repo {
    margin-top: 1rem;
    width: 26vh;
    height: 20vh;
    background-position: 50% 70%;
    background-size: 55% 60%;
  }

  .github_repo h3 {
    letter-spacing: 0.05rem;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 50em  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 63em  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (orientation: landscape) and (min-width: 63em) {
  #projects header {
    font-size: 6rem;
  }

  .project_entry:first-of-type {
    margin: 25vh 0;
  }

  .project_entry {
    max-width: 80%;
    max-height: 60vh;
  }

  .project_entry h2 {
    font-size: 2.25rem;
  }

  .project-link {
    height: 25vh;
    width: 80%;
  }

  .technology_title {
    font-size: 1.15rem;
    margin-top: 7rem;
  }

  .tech-logo h4 {
    font-size: 0.8rem;
  }

  .tech-logo {
    width: 7vh;
    height: 12vh;
  }

  .description p {
    font-size: 16px;
    line-height: 20px;
  }

  #currency-app h2 {
    font-size: 2.5rem;
  }

  .tech-logo img {
    width: 6vh;
    height: 6vh;
  }

  .github_repo {
    margin-top: 4rem;
    width: 16vh;
    height: 12vh;
  }
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 63em  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 75em  <<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<>>><<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (orientation: landscape) and (min-width: 75em) {
  #projects header {
    padding: 4rem 1rem;
  }

  .project_entry h2 {
    font-size: 3.5rem;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 75em  <<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<>>><<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 90em  <<<<<<<<<<<<<<<<<<( LAPTOP HiDPI SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/

@media (orientation: landscape) and (min-width: 90em) {
  #projects header {
    padding: 5rem 1rem;
    font-size: 7rem;
  }

  .technology_title {
    font-size: 1.2rem;
    margin-top: 42;
  }

  .description p {
    font-size: 20px;
    padding: 40px;
    line-height: 25px;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>> / MEDIA QUERY ORIENTATION LANDSCAPE AND MIN-WIDTH: 90em  <<<<<<<<<<<<<<<<<<( LAPTOP HiDPI SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MIN-WIDTH: 160em <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 160em) {
  #projects header {
    padding: 6rem 1rem;
    font-size: 10rem;
  }

  #projects .card {
    width: 90rem;
    margin-top: 15rem;
    margin-bottom: 5rem;
  }

  #projects h2 {
    font-size: 6rem;
  }

  #currency-app h2 {
    font-size: 5.5rem;
  }

  #projects p {
    font-size: 1.5rem;
  }

  h3.card-title {
    font-size: 2rem;
  }

  .tech-logo h4 {
    font-size: 1.2rem;
  }

  .github-repo {
    padding: 1.2rem;
    font-size: 2rem;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 160em <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
